node_modules
job-data
resume

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test

linkedin-cookies.json
credential.json
credentials.json
token.json

.cursor

generated-content
